{{ $youtube := .Params.youtube }}

{{ range $youtube }}
    {{ with index . "name" }}
        <p><strong>{{ . }}</strong></p>
    {{ end }}

    {{ $l := "" }}
    {{ with index . "id" }}
        {{ $l = . }}
    {{ end }}
    {{ with index . "link" }}
        {{ $l = . | path.Base }}
    {{ end }}
    {{ $l = printf "https://www.youtube-nocookie.com/embed/%s" $l }}

    <div class="embed-video-player">
        <iframe class="youtube-player" src="{{- $l | safeURL -}}" title="YouTube video player" allowfullscreen></iframe>
    </div>
{{ end }}
